In [1]:
show()

NameError: name 'show' is not defined

In [2]:
import mod111 as m

In [3]:
m.show()

hello
ok
bye

# Objects and Classes

In [21]:
class Employee():

    def __init__ (self, age, name, salary):
        self.age = age
        self.name = name
        self.__salary = salary # private variable

    def yearly_sal(self):
        yr_sal = self.salary * 12
        return yr_sal

In [23]:
emp1 = Employee(27, "Akash", 67000)

In [25]:
emp2 = Employee(28, "Rohan", 70000)

In [17]:
emp2.yearly_sal()

840000

In [27]:
emp1.salary

AttributeError: 'Employee' object has no attribute 'salary'

In [29]:
class Employee():
    pass

In [31]:
emp1 = Employee()

In [33]:
emp2 = Employee()

In [35]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x7497d1926150>
<__main__.Employee object at 0x7497d1798c20>

In [37]:
emp1.age = 27
emp1.name = "Riya"
emp1.salary = 80000

In [39]:
emp2.age = 28
emp2.name = "Raj"
emp2.salary = 70000

In [41]:
print(emp1.name)

Riya

In [43]:
class Employee1():

    def __init__ (self, age, name, salary):
        self.age = age
        self.name = name
        self.__salary = salary # private variable

    def yearly_sal(self):
        yr_sal = self.salary * 12
        return yr_sal

In [ ]:
emp1 = Employee1(26, "Aryan", 50000)

In [ ]:
emp1.age = 27
emp1.name = "Riya"
emp1.salary = 80000

# Tkinter

In [46]:
from tkinter import *

In [74]:
top = Tk()

top.geometry("700x900")
top.title("My app")

a = IntVar()

def sq():
    res = a.get() ** 2
    Label(top, text = f"square is {res}").place(x = 200, y = 350)


l = Label(top, text = "INPUT").place(x = 100, y= 150)
e = Entry(top, textvariable = a).place(x = 200, y = 150)
b = Button(top, text = "click me", command = sq, bg = "yellow").place(x = 200, y = 250)

top.mainloop()